
<title>PetConnect</title>
<h1>Animals</h1>
<% for (var index = 0; index < list.length; index++){ %>
    <h2>   <a href="/<%= list[index].name %>"><%= data[index].species %></a></h2>
    <p><%= data[index].bio %></p>
    <% } %>
    <p>
        <a href="/like">Like this animal</a>
    </p>
  