<header>
    
    <nav>
        <img src="img/petconnectlogo.png" alt="">
        <ul>
            <li><a href="/">Search</a></li>
            <li><a href="/profile">Profile</a></li> 
            <li><a href="/messages">Matches</a></li>
        </ul>
    </nav>

</header>