<header>
    <nav>
        <img src="img/petconnectlogo.png" alt="">
        <ul>
            <li><a href="profile.html">Profile</a></li> 
            <li><a href="index.html">Search</a></li>
            <li><a href="matches.html">Matches</a></li>
        </ul>
    </nav>

</header>