<!DOCTYPE html>	
<html lang="en">
    
<%- include('head'); %> 
<body>
    <section class="bgimg">
    <%- include('header'); %> 
    <div class="site-container">
    <main>
        <div class="like">
        <img src="img/cross.png" alt="">
       <div class="box" > 
        <!-- img src: https://www.doamsterdam.nl/dierenasiel/ -->
        <h1>Bob</h1>
        <p class="name">Boxer, 2</p>
    </div>
    <img src="img/heart.png" alt="">
</div>
    </main>
    
<%- include('footer'); %> 
</div>
</section>
</body>
</html>