<%- include('head'); %> <!-- including head.ejs-->

<body>
    <%- include('header'); %> <!-- including header.ejs-->
    <main>
       <div class="box" >
        <!-- img src: PINTEREST www.pinterest.com/pin/746823550679493158/ -->
        <img class="animal" src="img/bob.jpeg" alt="">
        <h1>Bob</h1>
        <p class="name">Tabby Cat, 3</p>
    </div>
        <a href="animal2.html"><img class="dislike button" src="img/dislike.jpg" alt=""></a>
        <a href="animal2.html"><img class="like button" src="img/like.jpg" alt=""></a>

    </main>
    
<%- include('footer'); %> <!--including footer.ejs-->
</body>
</html>