<!DOCTYPE html>	
<html lang="en">

<%- include('head'); %>

<body>	

    <%- include('header'); %>

    <main class="bg">	
        <h1>Matches</h1>	

    <a href="bobmessage.html">	
        <div class="match" > 	
            <!-- img src: PINTEREST www.pinterest.com/pin/746823550679493158/ -->	
            <h2><img class="matches" src="img/bob.jpeg" alt="">	
            Bob</h2>	
            <p>Natuurlijk kan dat!</p>	
        </div>	
    </a>	

        <div class="match" > 	
            <!-- img src: https://www.facebook.com/CockatooSanctuaryRescue/ -->	
            <h2><img class="matches" src="img/pip.png" alt="">	
            Pip</h2>	
            <p>-start een gesprek-</p>	
        </div>	

        <div class="match" > 	
            <!-- img src: http://asianwiki.com/Dolly_(Labrador) -->	
            <h2><img class="matches" src="img/dolly.png" alt="">	
            Dolly</h2>	
            <p>-start een gesprek-</p>	
        </div>	




    </main>	
    
    <%- include('footer'); %>

</body>	
</html> 