<!DOCTYPE html>	
<html lang="en">
    
<%- include('head'); %>
<body>
    <%- include('header'); %>

 <form action=/profile method="POST" class="profile">
 
    <label for="animal">Looking for: <br><br>
        <input type="checkbox" name="cat">
        <img class="checkbox" src="img/cat.png">

        <input type="checkbox" name="dog">
        <img class="checkbox" src="img/doberman.png">

        <!-- <input type="checkbox" name="fish">
        <img class="checkbox" src="img/goldfish.png">

        <input type="checkbox" name="bunny">
        <img class="checkbox" src="img/hare.png"> -->
        
        <input type="checkbox" name="bird">
        <img class="checkbox" src="img/cockatoo.png">

    </label><br><br>
    <label name="age" for="age">Age: <br>
        <input type="checkbox" name="one" >1
        <input type="checkbox" name="two" >2
        <input type="checkbox" name="three" >3 
    </label><br><br>

<label for="button">
     <input type="submit" value="Save preferences">
</label>
</form>
<%- include('footer'); %>
</body>
