
<%- include('head'); -%> <!-- including head.ejs-->


<body>
    <%- include('includes/header'); -%> <!-- including header.ejs-->
    <section>
        <img src="./img/bob.jpeg" alt="Picture animal">
        <article class="animalbio">
            <h2>Bob, 22</h2>
            <p>Tabby Cat</p>
            <p class="icons"></p>
            <div>
                <p>excited</p>
                <p>goddess</p>
                <p>thankful</p>
            </div>
        </article>
    
    </section>
    </main>

<%- include('includes/footer'); -%> <!-- including footer.ejs-->

</body>

</html>